<section class="page-section portfolio bg-primary text-white" id="skills">
    <div class="container">
        <!-- Portfolio Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-white mb-0">Hard y soft skills</h2>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Portfolio Grid Items-->
        <div class="row justify-content-center">
          
            <!-- Portfolio Item 1-->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto text-center" >
                    <div class="row">
                        <circle-progress
                        [title]="'HTML y CSS'"
                        [showSubtitle]="false"
                        [percent]="85"
                        [showUnits]="false"
                        [radius]="100"
                        [outerStrokeWidth]="16"
                        [innerStrokeWidth]="8"
                        [outerStrokeColor]="'#ffffff'"
                        [innerStrokeColor]="'#f8e45c'"
                        [animation]="true"
                        [animationDuration]="600"
                        [titleColor]= "'#eeeeec'"
                        [subtitleColor]= "'#f6f5f4'">
                        </circle-progress>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 mb-5">
                <h5 class="text-center">Javascript</h5>
                <div class="portfolio-item mx-auto text-center" >
                    <div class="row">
                        <circle-progress
                        [percent]="70"
                        [radius]="100"
                        [outerStrokeWidth]="16"
                        [innerStrokeWidth]="8"
                        [outerStrokeColor]="'#ffffff'"
                        [innerStrokeColor]="'#f8e45c'"
                        [animation]="true"
                        [animationDuration]="600"
                        [titleColor]= "'#eeeeec'"
                        [subtitleColor]= "'#f6f5f4'">
                        </circle-progress>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 mb-5">
                <h5 class="text-center">Angular</h5>
                <div class="portfolio-item mx-auto text-center" >
                    <div class="row">
                        <circle-progress
                        [percent]="60"
                        [radius]="100"
                        [outerStrokeWidth]="16"
                        [innerStrokeWidth]="8"
                        [outerStrokeColor]="'#ffffff'"
                        [innerStrokeColor]="'#f8e45c'"
                        [animation]="true"
                        [animationDuration]="600"
                        [titleColor]= "'#eeeeec'"
                        [subtitleColor]= "'#f6f5f4'">
                        </circle-progress>
                    </div>
                </div>
            </div>

            <!-- Portfolio Item 2-->
            <div class="col-md-6 col-lg-4 mb-5">
                <h5 class="text-center">Fractal Labs</h5>
                <div class="portfolio-item mx-auto">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <img class="img-fluid" src="../../../assets/fractal labs.png" alt="..." />
                </div>
            </div>
            <!-- Portfolio Item 3-->
            <div class="col-md-6 col-lg-4 mb-5">
                <h5 class="text-center">ORAM</h5>
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal3">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <img class="img-fluid" src="../../../assets/oram.png" alt="..." />
                </div>
            </div>
         
           
        </div>
    </div>
</section>

